image {
    max-width: 100%;
    height: auto;
}

.background {
    width: 100%;
    min-height: 120vh;
    // height: 100vh;
    background-color: #f5f5f5;
    background-image: url(image/背景.png);
    padding-top: 50px;
    padding-bottom: 50px;
}

.main {
    border: $border;
    width: 900px;
    // height: 700px;
    background-color: white;
    margin: 0 auto;
}

.pagination {
    display: flex;
}

.logo {
    width: 320px;
    height: 60px;
    border-right: $border;
    border-bottom: $border;
    display: flex;
}

.classi {
    display: flex;
}

.classify {
    width: 120px;
    height: 60px;
    border-right: $border;
    border-bottom: $border;
    text-align: center;
    line-height: 60px;
    font-size: $bigFont;
    color: $b;
}

.classify:nth-child(1) {
    color: $or;
}
.classify:nth-child(1):hover {
    cursor: pointer;
    background-color: $or;
    color: #fff;
}
.classify:nth-child(2) {
    color: $ye;
}
.classify:nth-child(2):hover {
    cursor: pointer;
    background-color: $ye;
    color: #fff;
}
.classify:nth-child(3) {
    color: $bl;
}
.classify:nth-child(3):hover {
    cursor: pointer;
    background-color: $bl;
    color: #fff;
}
.classify:nth-child(4) {
    color: $gr;
}
.classify:nth-child(4):hover {
    cursor: pointer;
    background-color: $gr;
    color: #fff;
}

.content {
    display: flex;
    padding-bottom: 15px;
}

.person {
    padding-left: 30px;
    // margin-left: 30px;
}

.m0 {
    margin: 0 auto;
}

.center {
    align-items: center;
    margin: 0 auto;
}

.me {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    background-image: url(image/ME.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.me:hover {
    background-image: url(image/ME_2.png);
}

.name {
    width: 100%;
}

.nameCenter {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    color: $b;
}
.nameCenter:nth-child(1) {
    margin-top: 30px;
    font-size: 24px;
    line-height: 36px;
}
.nameCenter:nth-child(2) {
    font-size: 14px;
    line-height: 21px;
}
.nameCenter:nth-child(3) {
    margin-top: 10px;
    font-size: 16px;
    line-height: 36px;
    border: $ye 3px solid;
    // background-color: $or;
    color: $ye;
    border-radius: 5px;
}
.nameCenter:nth-child(3):hover {
    background-color: $ye;
    cursor: pointer;
    color: #fff;
}
.contact {
    width: 100%;
    margin-top: 35px;
    // padding-left: 60px;
    // margin-left: 60px;
}

.contactInfo {
    margin: 0 auto;
    margin-bottom: 15px;
    color: $b;
    // line-height: 24px;
    a {
        color: $b;
        &:hover {
            text-decoration: none;
        }
    }
}

.contactInfo svg {
    margin-right: 25px;
}

.word {
    width: 580px;
    height: 700px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tittle {
    color: $bl;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tittle1 {
    font-size: 16px;
    color: $b;
    display: block;
    margin-bottom: 7px;
    line-height: 16px;
}

.tittle2 {
    font-size: 14px;
    color: $gra;
    display: block;
    margin-bottom: 5px;
    line-height: 16px;
}

.tool {
    display: flex;
}

.group {
    margin-bottom: 25px;
}

.group2 {
    margin-bottom: 15px;
}

.group:nth-child(4) {
    margin-bottom: 0;
}

a{
    .tittle1{
        color: $bl;
    }
    
    &:hover{
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .main {
        width: 80%;
    }
    .person {
        padding-left: 0;
        // margin-left: 0;
    }
    .logo {
        border-left: $border;
        border-bottom: 0;
        margin: 0 auto;
    }
    .classi {
        width: 100%;
        border-left: $border;
        margin: 0 auto;
    }
    .classify {
        width: 25%;
        border-top: $border;
    }
    .pagination {
        flex-direction: column;
    }
    .person {
        width: 100%;
    }
    .content {
        width: 100%;
        flex-direction: column;
    }
    .contact {
        width: 35%;
    }
    .word {
        margin-top: 30px;
        width: 80%;
        height: 700px;
        margin-left: 0px;
        margin: 0 auto;
        // justify-content: flex-start;
    }
}

@media (max-width: 600px) {
    .background {
        height: 100%;
    }
    .main {
        width: 90%;
    }
    .logo {
        width: 100%;
        border: 0px;
    }
    .classi {
        width: 100%;
        margin: 0;
        border-left: 0px;
    }
    .classify {
        height: 28px;
        line-height: 24px;
        margin: 2.5%;
        width: 25%;
        font-size: 16px;
        border: $border;
    }
    .contact {
        width: 70%;
    }
    .word {
        height: 1450px;
        justify-content: flex-start;
    }
}
