.classifyClickedU {
    width: 120px;
    height: 60px;
    border-right: $border;
    border-bottom: $border;
    text-align: center;
    line-height: 60px;
    font-size: $bigFont;
    background-color: $or;
    color: #fff;
}
.classifyClickedL {
    width: 120px;
    height: 60px;
    border-right: $border;
    border-bottom: $border;
    text-align: center;
    line-height: 60px;
    font-size: $bigFont;
    background-color: $bl;
    color: #fff;
}
.classifyClickedB {
    width: 120px;
    height: 60px;
    border-right: $border;
    border-bottom: $border;
    text-align: center;
    line-height: 60px;
    font-size: $bigFont;
    background-color: $ye;
    color: #fff;
}
.classifyClickedO {
    width: 120px;
    height: 60px;
    border-right: $border;
    border-bottom: $border;
    text-align: center;
    line-height: 60px;
    font-size: $bigFont;
    background-color: $gr;
    color: #fff;
}
.work {
    width: 840px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
}
.workInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.workName {
    width: 200px;
    min-height: 20%;
    border: $border;
    font-size: $mFont;
    text-align: center;
}
.workIntroduce {
    width: 200px;
    min-height: 75%;
    border: $border;
    padding: 8px;
    font-size: 15px;
    a {
        color: $or;
            
        &:hover {
            color: $or;
        }
    }
}
.swap {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    width: 70%;
    border: $border;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 768px) {
    .classifyClickedU {
        border-top: $border;
    }
    .classifyClickedB {
        border-top: $border;
    }
    .classifyClickedL {
        border-top: $border;
    }
    .classifyClickedO {
        border-top: $border;
    }
    .swap {
        border: $border;
        width: 90%;
        padding: 15px 10px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .work {
        margin: 0 auto;
        padding: 0;
        width: 90%;
        flex-direction: column;
    }
    .workInfo {
        width: 90%;
        margin: 0 auto;
        padding: 30px 0px;
    }
    .workName {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .workIntroduce {
        margin-top: 30px;
        width: 100%;
        padding: 10px 40px 10px 40px;
    }
}

@media (max-width: 414px) {
    .classifyClicked {
        width: 25%;
        font-size: 16px;
        border-left: $border;
        height: 28px;
        line-height: 24px;
        margin: 2.5%;
    }
    .swap {
        width: 100%;
    }
    .workInfo {
        width: 100%;
    }
}
